@charset "utf-8";
/*移动端 css reset*/
*, ::before, ::after {
    /*防止溢出*/
    box-sizing: border-box;
    /*盒子的大小从边框开始计算*/
    -webkit-box-sizing: border-box;
    /*点击高亮*/
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Microsoft YaHei', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

input[type="text"], input[type="search"], textarea {
    border: none;
    outline: none;
    resize: none;
    /*清除默认样式*/
    -webkit-appearance: none;
}


/*common css*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before, .clearfix::after {
    content: " ";
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
