<!DOCTYPE html>
<html lang="en">

<head>
	<title>双飞翼</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {
			min-width: 1000px;
		}
		
		.columns {
			height: 250px;
			float: left;
		}
		
		.container {
			height: 250px;
			border: 1px solid red;
		}
		
		.mainbox {
			width: 100%;
			background: yellow;
		}
		
		.inner {
			margin: 0 300px 0 250px;
			word-break: break-all;
		}
		
		.leftbox {
			width: 250px;
			background: red;
			margin-left: -100%;
		}
		
		.rightbox {
			width: 300px;
			background: blue;
			margin-left: -300px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="columns mainbox">
			<div class="inner">
				我看见个会计课件发卡机看见看见我看见个会计课件发卡机看见看见我看见个会计课件发卡
				机看见看见我看见个会计 课件发卡机看见看见我看见个会计课件发卡机看见看见我看见个
				会计课件发卡机看见看见我看见个会计课件发卡机看见看见
			</div>

		</div>
		<div class="columns leftbox"></div>
		<div class="columns rightbox"></div>
	</div>

</body>

</html>